.week-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-self: center;
}
#border-div {
  display: flex;
  border: 2px solid rgb(209, 209, 209);
}
.day-container {
  width: 6.5em;
}
.--today {
  background-color: rgb(209, 209, 209);
}
#tempurature-range {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  margin: 0.25rem;
}
.daily-high-temp {
  margin-left: 0.5rem;
  color: rgb(82, 80, 80);
}